.topbar {
    background: #c3c3c3;
    padding: 10px;
}
.header {
    text-align: center;
}
#title {
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}
.nav-list {
    padding: 0;
    text-align: center;
}
.nav-item {
    display: inline;
    width: 10em;
}
.nav-item input {
    width: 50px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.button-style {
    color: #FFF;
    background-color: #08F;
}
#grid {
    text-align: center;
    white-space: nowrap;
    float: right;
}
#instructions h2 {
    margin-left: 40px;
}
.cell {
    width: 1.6em;
    height: 1.6em;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
    vertical-align: bottom;
    background: #666;
}
.cell:hover {
    background: #CCC;
    border-color: #333;
}
.cell:active {
    background: #AAA;
}

.selector
{
  margin-left: 25px;
}
.PowerupText
{


  text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);
}
